@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
  html,
  body {
    @apply h-full overflow-x-hidden;
  }
  body {
    @apply pt-[60px] 2xl:pt-[90px] xl:pt-[80px] lg:pt-[84px] md:pt-[84px];
  }
 
}
@layer utilities {
  .arial {
    font-family: Arial, Helvetica, sans-serif
  }
  #root {
    @apply h-full;
  }
  .navLink {
    @apply px-3 xl:px-4 lg:px-3 py-3 2xl:py-3 xl:py-2 text-white font-semibold  items-end leading-6 hidden lg:flex md:hidden;
  }
  .has_dropdown {
    @apply relative;
  }
  .dropdown {
    /* @apply absolute top-[114px] 2xl:top-[114px] xl:top-[80px] left-0 hidden min-w-max flex-col gap-[2px] w-[200px]; */
    @apply absolute top-[84px] 2xl:top-[94px] xl:top-[80px] lg:top-[84px] left-0 hidden min-w-max flex-col gap-[2px] w-[200px];
    /* @apply pt-[60px] 2xl:pt-[90px] xl:pt-16 lg:pt-[60px]; */
  }
  .dropdown a {
    @apply bg-orange-500 py-2 px-4;
  }
  .has_dropdown:hover .dropdown {
    @apply flex;
  }
  .hamburger {
    @apply block lg:hidden md:block relative w-8 h-5 place-self-center cursor-pointer
  }
  .hamburger span {
    @apply w-full h-[2px] bg-white absolute top-0 transition-all duration-300 ease-in-out
  }
  .hamburger span:nth-child(2) {
    @apply w-full h-[2px] bg-white absolute top-1/2
  }
  .hamburger span:last-child {
    @apply w-full h-[2px] bg-white absolute top-full
  }
  .hamburger.active span:first-child {
    @apply transform rotate-45 origin-center top-1/2
  }
  .hamburger.active span:nth-child(2) {
    @apply scale-0
  }
  .hamburger.active span:last-child {
    @apply transform -rotate-45 origin-center top-1/2
  }
  .homeSlider {
    @apply h-[calc(100dvh-60px)] 2xl:h-[calc(100dvh-90px)] xl:h-[calc(100dvh-80px)] lg:h-[calc(100dvh-84px)] md:h-[calc(100dvh-84px)]; 
    /* pt-[60px] 2xl:pt-[90px] xl:pt-[80px] lg:pt-[84px] md:pt-[60px]; */
  }
  .homeSlider .swiper-pagination .swiper-pagination-bullet {
    @apply transition-all duration-500 ease-out !mx-2;
  }
  .homeSlider
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-white scale-[2];
  }
  .swiper-slide-active .slider_caption h1,
  .swiper-slide-active .slider_caption h2,
  .swiper-slide-active .slider_caption h3,
  .swiper-slide-active .slider_caption p {
    @apply opacity-100 translate-y-0
  }
  .slider_caption h1,
  .slider_caption h2,
  .slider_caption h3,
  .slider_caption p {
    @apply opacity-100 translate-y-0 transition ease-in-out duration-1000 
  }

  .slider_caption p {
    @apply text-xl xl:text-3xl md:text-2xl sm:text-xl opacity-0 translate-y-12 delay-100
  }
  .slider_caption h1 {
    @apply text-4xl xl:text-6xl md:text-5xl sm:text-4xl font-bold opacity-0 translate-y-12 mt-1 delay-300
  }
  .slider_caption h2 {
    @apply text-3xl xl:text-5xl md:text-4xl sm:text-3xl font-semibold opacity-0 translate-y-12 mt-1 delay-500
  }
  .slider_caption h3 {
    @apply text-xl xl:text-3xl md:text-2xl sm:text-xl opacity-0 translate-y-12 mt-1 delay-700
  }
 

  .homeSlider .swiper-slide {
    background-size: cover;
    background-position: center right;
  }
  .section-page {
    @apply min-h-[calc(100dvh-60px)] 2xl:min-h-[calc(100dvh-90px)] xl:min-h-[calc(100dvh-80px)] lg:min-h-[calc(100dvh-84px)] md:min-h-[calc(100dvh-84px)] py-12 2xl:py-12 xl:py-8;
  }
  
  .heading1 {
    @apply text-4xl 2xl:text-5xl xl:text-4xl lg:text-4xl font-bold leading-[90%] tracking-[-2px] text-white
  }
  .referenceDiv {
    @apply fixed top-1/2 right-0 z-20 bg-white p-1.5 px-3 text-sm font-bold text-slate-700 shadow hidden lg:block md:hidden;
    transform: rotate(90deg) scaleX(-1);
    transform-origin: top right;
  }
  .referenceDiv div {
    transform: scaleX(-1);
  }
  .refList a {
    @apply underline
  }
}

.slide1 {
  background-image: url('./assets/banners/slide-1.jpg');
}
.slide2 {
  background-image: url('./assets/banners/slide-2.jpg');
}
.slide3 {
  background-image: url('./assets/banners/slide-3.jpg');
}
.slide4 {
  background-image: url('./assets/banners/slide-4.jpg');
}
.slide5 {
  background-image: url('./assets/banners/slide-5.jpg');
}
.slide6 {
  background-image: url('./assets/banners/slide-6.jpg');
}
.slide7 {
  background-image: url('./assets/banners/slide-7.jpg');
}
@media only screen and (max-width:800px){
  .slide1 {
    background-image: url('./assets/banners/mob-slide-1.jpg');
  }
  .slide2 {
    background-image: url('./assets/banners/mob-slide-2.jpg');
  }
  .slide3 {
    background-image: url('./assets/banners/mob-slide-3.jpg');
  }
  .slide4 {
    background-image: url('./assets/banners/mob-slide-4.jpg');
  }
  .slide5 {
    background-image: url('./assets/banners/mob-slide-5.jpg');
  }
  .slide6 {
    background-image: url('./assets/banners/mob-slide-6.jpg');
  }
  .slide7 {
    background-image: url('./assets/banners/mob-slide-7.jpg');
  }
}
.homeSlider .swiper-slide {
  background-position: center;
  background-size: cover;
}



.section-Whatispnemonia {
  background: url("./assets/bgs/bg-1.jpg") center;
  background-size: cover;
}
.section-Typesofpnemonia, .section-Symptomsandsigns, .section-Diseaseburden, .section-Complicationsofpnemonia {
  background: url("./assets/bgs/bg-2.jpg") center;
  background-size: cover;
}
.section-Riskscore, .section-Riskfactor {
  background: url("./assets/bgs/bg-3.jpg") center;
  background-size: cover;
}

.section-Preventivetechniques {
  background: url("./assets/bgs/bg-3.jpg") center;
  background-size: cover;
}
.section-Patientawareness {
  background: url("./assets/bgs/bg-4.jpg") center;
  background-size: cover;
}
.section-Types, .section-Benefits, .section-LocateDoctors, .section-References {
  background: url("./assets/bgs/bg-4.jpg") center;
  background-size: cover;
}

.section-Diseaseburden .custom-pagination {
  @apply absolute !bottom-8 left-0 right-0 mx-auto flex items-center justify-center gap-2;
}
.section-Diseaseburden .custom-pagination .swiper-pagination-bullet {
  @apply transition-all duration-500 ease-out !mx-2;
}
.section-Diseaseburden
  .custom-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !bg-white scale-[2];
}
.customInput {
  @apply text-white text-base xl:text-xl lg:text-base flex gap-2 items-center cursor-pointer;
}
.customInput i {
  @apply w-6 h-6 rounded-full bg-white shrink-0 flex items-center justify-center after:w-4 after:h-4 after:bg-white after:rounded-full after:transition-all after:duration-300 after:scale-0;
}
.customInput input:checked + i {
  @apply w-6 h-6 rounded-full bg-white shrink-0 flex items-center justify-center after:w-4 after:h-4 after:bg-teal-500 after:rounded-full after:scale-100;
}
.leftcheck .customInput i {
  @apply order-1;
}
.leftcheck .customInput {
  @apply justify-end;
}
.arrow {
  background: url("./assets/risk/arrow.png") no-repeat;
  background-size: cover;
  @apply w-[27px] h-[140px] xl:w-[49px] xl:h-[250px] lg:w-[37px] lg:h-[190px] md:w-[37px] md:h-[190px] sm:w-[27px] sm:h-[140px] absolute left-0 right-0 mx-auto origin-bottom ease-in-out duration-700 top-[9px] xl:top-[10px] lg:top-[10px] md:top-[10px] sm:top-[9px]
}
.arrowCircle {
  background: url("./assets/risk/arrowCircle.png");
  background-size: cover;
  @apply w-5 h-5 xl:w-[45px] xl:h-[45px] lg:w-8 lg:h-8 md:w-8 md:h-8 sm:w-5 sm:h-5 absolute left-0 right-0 mx-auto top-[140px] xl:top-[235px] lg:top-[184px] md:top-[184px] sm:top-[140px]
}
.selected {
  @apply relative;
}
.selected img {
  filter: brightness(100);
}
.manImg {
  background: url("./assets/symptoms/man.png");
  background-size: cover;
}
.circleImg {
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.circleImg2 {
  border-radius: 50%;
  animation: pulse2 2s infinite;
}
.tooltipBox {
  transition: all 0.3s ease-in-out;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #9fbc3b;
    box-shadow: 0 0 0 0 #9fbc3b;
  }
  70% {
      -moz-box-shadow: 0 0 0 50px rgba(204,169,44, 0);
      box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 #9fbc3b;
    box-shadow: 0 0 0 0 #9fbc3b;
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}